/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

/* giải quyết vấn đề float */
.clear{
  clear: both;
}

.text-white{
  color: #fff !important;
}


#main {

}

#header {
  height: 46px;  
  background-color: #000;
  position: fixed;
  /* top: 0; nó bám dính lên trên */
  top: 0;
  left: 0;
  right: 0; 

}


/* cái ni là thu nhỏ nav chiếm chiều ngang của header  */
/* này là của phần search icon */
#nav{
  display: inline-block;
} 


#nav, .subnav {
  /* mất đi dấu chấm trong ul */
  list-style-type: none;
}

/* chỉ cấp 1,cấp 2 không bị ảnh hưởng */
#nav > li{
  display: inline-block; 
} 

#nav li {
  /*  display: inline-block là trên 1 hàng ngang */
  /* display: inline-block;  */
  position: relative;
}


#nav > li > a{
  color: #fff;
  text-transform: uppercase;
}

#nav li a{

/* text-decoration: none bỏ chữ gạch ngang đi */
text-decoration: none;
line-height: 46px;
padding: 0 24px;
/* display: inline-block;  */
/* có block ni 3 phần tử trong More mới phủ hết hover */
display: block; 
}

/* cái ni là di chuột vào more nó hiện ra 3 cái phần tử con  */
  #nav li:hover .subnav{
    /* phải có block nói mới hiện phần tử */
  display: block;
} 


#nav > li:hover > a,
#nav .subnav li:hover a{
  color: #333;
  background-color: #ccc;
}
/* thêm hover để di chuột vào nó hiện màu lên */
/* #nav  li:hover a{
  color: #333;
  background-color: #ccc;
}  */

#nav .subnav {
  display: none; 
  position: absolute;
  min-width: 160%;
  top: 100%;
  left: 0;
  background-color: #fff;
  /*box-shadow thêm lớp bóng vào phần tử*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}



/* css cho icon ti-angle-arrow */
#nav .nav-arrow-down{
  font-size: 14px;
}

/* cho float :right để cho nút search lên bên phải trên phần header */
#header .search-btn {
  float: right;
  padding: 0 21px;
}


#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}


#header .search-icon{
  color:#fff ;
  font-size: 20px;
  line-height: 46px;
}








#slider {
  position: relative;
  /* thêm margin top để nó cách ra khỏi header*/
   margin-top: 46px; 
   /* nó là chiều ngang %2 */
   padding-top: 50%;
   background: url('../img/slider/slider1.jpg') top center / cover no-repeat;   
   /* background: url('/assets/img/slider/slider1.jpg') top center /cover no-repeat; */
   
}

#slider .text-content{
  position: absolute;
  bottom: 47px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; 
 
}
#slider .text-heading{
  /* font wight giảm độ dày */
  font-weight: 500; 
  font-size: 24px;
}
#slider .text-description{
  font-size: 15px;
  margin-top: 25px;
}



#content {
    height: 1000px;
    background-color: #ccc;
}

#content .content-section{
  width: 800px;
  padding: 64px 0;
  /* cho margin để cho chữ ra giữa */
  margin-left: auto; 
  margin-right: auto; 
}

#content .section-heading{
  font-size: 30px;
  /* giảm độ dày của chữ */
  font-weight: 500;
  text-align: center;
  /* letter-spacing tăng giảm khoảng cách chữ */
  letter-spacing: 4px;
}

#content .section-sub-heading{
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  /* chữ nghiêng */
  font-style: italic;
  /* opacity độ trong suốt */
  opacity: 0.6;

}

#content .about-text{
  font-size: 15px;
  margin-top: 25px;
  /*   text-align: justify căn đều 2 bên  */
  text-align: justify; 
  line-height: 1.4;
}


#content .members-list {
  margin-top: 48px;
}

#content .member-item{
  /* dùng float và width đưa ảnh lên và hình nó cân bằng cái chữ */
  float: left;
  width: 33.33333%;
   /* để chữ name trên hình ảnh ra giữa */
  text-align: center;
}


#content .member-name {
  font-size: 15px;
  /* để chữ name trên hình ảnh ra giữa */
  /* text-align: center; */
}

#content .member-img{
  width: 154px;
  margin-top: 15px;
  /*  border-radius cho nó bo góc hình ảnh  */
  border-radius: 4px;
}

/* Tour section */
.tour-section{
  background-color: #000;
}

.tickets-list{
  background-color: #fff;
  margin-top: 40px;   
}



.tickets-list li {
  /* màu nó mờ hơn */
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.tickets-list .Sold-out{
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity{
  float: right;
  width: 24px;
  right: 24px;
  background-color: #000;
  color: #fff;
  /* hình tròn số 3 */
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  /* có float nên dùng margin âm đc */
  margin-top: -3px;
}

/* place */
.place-list{
  margin-top: 32px;
  /* mép k bằng nên dùng */
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 48px;
}
.place-item{
  float: left;
  width: 33.33333%;
  padding: 0 8px;
}
.place-img{
  /* width 100% nó chỉnh 3 hình ảnh bằng nhau */
  width: 100%;
  display: block;
}

.place-img:hover{
  opacity: 0.6;
}

.place-body{
  font-size: 15px;
  padding: 16px; 
  background-color: #fff;
}
.place-heading{
  font-size: 15px;
  font-weight: 600;
}
.place-time{
  margin-top: 15px;
  color: #757575;
}
.place-desc{
  margin-top: 15px;
  line-height: 1.4; 
}
.place-buy-btn{
color: #fff;
background-color: #000;
text-decoration: none;
padding: 11px 16px;
/* thêm block để nó cái nút btn khỏi lấn vào chữ */
display: inline-block;
margin-top: 15px;
}

.place-buy-btn:hover{
  color: #000;
  background-color: #ccc;
}

/* phần mua hàng */
.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal.open{
  display: flex;
}

.class-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
}


.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-heading-icon{
  margin-right: 16px;
}

.modal-close{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.modal-close:hover{
  opacity: 1;
}

.modal-body{
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px ;
  margin-bottom: 12px;
}

.modal-input{
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-tickets{
  background-color: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
}

#buy-tickets:hover{
  cursor: pointer;
  opacity: 0.9;
}

.modal-footer{
  padding: 16px;
  text-align: right;
} 

.modal-footer a {
  color: #2196f3;
} 
/* Footer section */
#footer {
    
}



